@use "../tokens" as *;

// Changelog — toggle à faire plus tard
.wolf-theme-changelog {
	padding-top: 0;


	&__toggle {
		cursor: pointer;
		opacity: 0.8;
		font-size: var(--ws-font-size-sm);
		background: none;
		border: none;
		padding: 0;
		text-decoration: underline;
		color: var(--wp--preset--color--contrast);

		&:hover {
			opacity: 1;
		}
	}

	&__content {
		margin-top: space(3);
		padding: space(6);
		background: var(--wp--preset--color--base);
		color: var(--wp--preset--color--contrast-2);
		font-family: monospace;
		font-size: fs(sm);

		h1 {
			display: none;
		}

		h4 {
			font-size: fs(sm);
			margin-bottom: 0;
			text-transform:none !important;
		}

		ul {
			margin-top: space(3);
			margin-bottom: space(5);
			padding-left: space(4);
		}

		li {
			font-size: 0.9em;
			font-size: fs(xs);
		}
	}
}
