.wolf-theme-description{

	.wolf-theme-single__wrapper{
		display:flex;
		gap:20px;
		align-items:center;
		justify-content: space-between;

		@media (max-width: 900px) {
			flex-direction: column;
		}
	}

	&__description{
		font-size:1.1em;
		max-width:500px;
		margin-bottom:20px;
	}

	&__mockup{
		max-width:800px;
	}

	&__column{

	}
}
