// Hero
.wolf-theme-hero {
	min-height: 80vh;
    position: relative;

    &__thumbnail {
        position: absolute;
		width: 100%;
		height: 100%;
        img,
		video{
            width: 100%!important;
			height: 100%;
			display: block;
			object-fit: cover;
			position: absolute;
		}
    }

	&__content{
		position: absolute;
		bottom: 0;
		background: white;
		padding: 50px;
	}

	&__title{
		font-size:32px;
		margin-bottom:0;
	}


    &__tagline {
        margin: 8px 0 16px;
		font-weight:700;
		color:var(--strong-color);
    }

    &__description {
        margin-bottom: 24px;
		max-width:650px;
        line-height: 1.8;
    }
}

