// Hero
.wolf-theme-hero {

    &__thumbnail {
        margin-bottom: 32px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

	&__title{
		font-size:32px;
		margin-bottom:0;
	}


    &__tagline {
        margin: 8px 0 16px;
		font-weight:700;
		color:var(--strong-color);
    }

    &__description {
        margin-bottom: 24px;
		max-width:650px;
        line-height: 1.8;
    }
}

