// Sidebar
.wolf-theme-technicals {

	.wolf-theme-single__wrapper {
		display: grid;
		grid-template-columns: repeat( 4, 1fr );
		gap: 40px;
		align-items: flex-start;

		@media (max-width: 1024px) {
			grid-template-columns: repeat( 2, 1fr );
		}

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	&__meta {
        border-top: 1px solid currentColor;
        font-size: 0.9em;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid currentColor;
        opacity: 0.8;
    }

    &__label {
		font-weight: 500;
    }

    &__value {
		font-weight: 600;
        color: #000;
        text-decoration: none;
    }

	&__support {
    }

	&__section-title {
		font-size: 0.9em;
		margin-bottom: 10px;
	}

    &__support-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
			list-style-type: none;
        }

        a {
            text-decoration: none;
            font-size: 0.9em;

            &:hover { opacity: 0.7; }
        }
    }

    &__terms-container {
    }

    &__terms {
        margin-bottom: 16px;
    }

	&__categories {
	}

    &__tags {
        display: flex;
        flex-wrap: wrap;
    }

    &__tag {
		// background:var(--black-color)!important;
		// border-color:var(--black-color)!important;
    }

	&__benefits {
		padding: 16px;
		border: 1px solid var(--theme-border-color);
		opacity: 0.8;
	}

	&__benefits-list {
		list-style: none;
		padding: 0;
		margin: 0;
		color: var(--strong-color);
		font-weight: 600;

		li {
			list-style-type: none;
			padding-left: 20px;
            position: relative;
            &::before {
                content: '✓';
                position: absolute;
                left: 0;
                color: var(--checkmark-color);
                font-weight: 700;
            }
		}
	}

	&__info {
		cursor: help;
		opacity: 0.5;
		font-size: 0.75rem;
		margin-left: 4px;
	}
}
