@use "../tokens" as *;

.wolf-theme-technicals {

	.wolf-theme-single__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		gap: space(6);
		align-items: flex-start;

		@include until($bp-lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include until($bp-sm) {
			grid-template-columns: 1fr;
		}
	}

	&__meta {
		font-size: 0.9em;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		border-bottom: 1px solid var(--wp--preset--color--border-alt);
		opacity: 0.8;
	}

	&__label {
		font-weight: 500;
	}

	&__value {
		font-weight: 600;
		// color: #000;
		text-decoration: none;
	}

	&__support {
		// placeholder
	}

	&__section-title {
		font-size: 1.2em;
		margin-bottom: 10px;
		word-spacing: 0.3em;
	}

	&__support-links {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			padding-bottom: 7px;
			font-size: var(--ws-font-size-sm);

			img.emoji {
				top: 1px;
				position: relative;
				margin-right: 3px !important;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__terms-container {
		// placeholder
	}

	&__terms {
		margin-bottom: space(6);
	}

	&__categories {
		// placeholder
	}

	&__post-types {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--2);
	}

	&__post-type {
		list-style-type: none;
		padding-left: space(4);
		position: relative;
		font-size: fs(sm);
		text-decoration: none;
		font-weight: 600;

		&::before {
			content: "✓";
			position: absolute;
			left: 0;
			font-weight: 700;
			color: var(--ws-checkmark-color);
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: space(1);
	}

	&__tag {
		// background:var(--black-color)!important;
		// border-color:var(--black-color)!important;
	}

	&__benefits {
		padding: space(4);
		border: 1px solid var(--ws-border-color);
		opacity: 0.8;
	}

	&__benefits-list {
		list-style: none;
		padding: 0;
		margin: 0;
		color: var(--ws-strong-color);
		font-weight: 600;

		li {
			list-style-type: none;
			padding-left: 20px;
			position: relative;

			&::before {
				content: "✓";
				position: absolute;
				left: 0;
				color: var(--ws-checkmark-color);
				font-weight: 700;
			}
		}
	}

	&__info {
		cursor: help;
		opacity: 0.5;
		font-size: var(--ws-font-size-xs);
		margin-left: space(1);
	}
}
