[data-type="single"] {
	min-height: 100vh;
}

.wolf-theme-single {

	&__main {
		min-height: 100vh;
	}

	&__section{
		padding:80px 0;

		@media (max-width: 768px) {
			padding: 48px 0;
		}
	}

	&__wrapper{
		max-width:var(--single-theme-wrapper-width);
		margin:0 auto;

		&--small{
			max-width:var(--single-theme-wrapper-width-small);
		}
	}
}

