.wolf-theme-single {

	&__section{
		padding:80px 0;

	}

	&__wrapper{
		max-width:var(--single-theme-wrapper-width);
		margin:0 auto;

		&--small{
			max-width:var(--single-theme-wrapper-width-small);
		}
	}
}

