:root{
	--checkmark-color:#00a32a;
	--card-border-color:rgba(0,0,0,.2);
	--card-border-color-white:rgba(255,255,255,.2);
	--single-theme-wrapper-width:1600px;
	--single-theme-wrapper-width-small:1000px;
	--text-shadow:0px 0px 25px rgba(0, 0, 0, 0.3);
}
